HudPlayer
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: Poppins;
	font-size : 0px;

	> .vitals {
		position : absolute;
		bottom : 32px;
		left : 32px;
		font-size: 32px;
		font-weight: bold;
		font-style : 8px black stroke;
		color : white;
		flex-direction: column;
	}
}